*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared css */

.btn{
    padding: 12px 16px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
}

/* nav section  */
header{
    padding: 16px 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color:black;
    font-size: 16px;
}

nav img{
    height: 60px;
    width: 138px;
}