*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font{
  font-family: "Inter", sans-serif;

}

/* shared css */

.btn{
    padding: 12px 16px; 
    background-color: #30B868;
    color: white;
    font-size: 16px;          
    border: none;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.color-green{
    color: #30B868;
}

/* nav section  */
header{
    padding: 16px 100px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color:black;
    font-size: 16px;
}

nav img{
    height: 60px;
    width: 138px;
}
/* banner section */
#banner-parent{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    padding:0 100px;
}

#banner-parent .banner-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 115px;
}

.banner-info h1{
    font-size: 72px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.banner-info p{
    font-size: 18px;
    line-height: 24px;
    color: #cec2c2;
    text-align: center;
}

.banner-btn{
    display: flex;
    margin-top: 16px;
    gap: 16px;
}

.banner-btn .btn2{
    background-color: transparent;
    border: 1px solid white;
}

.banner-info .btn3{
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
}
/* notes section */

#notes-parent{
    padding: 50px 100px 0;
}

#notes-parent .notes-heading{
    text-align: center;
    margin-bottom: 44px;
}

.notes-heading h2{
    font-size: 50px;
    margin-bottom: 16px;
}

.notes-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#notes-parent .notes-info{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.notes-info .notes-card{
    border-radius: 8px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
    box-shadow: 0 0 8px 0 #0000004b;
}

.notes-card .icon-img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #F95555;
    padding: 9px;
}

.notes-card h3{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.notes-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
/* brain section */
#brain-parent{
    padding: 100px;
}

#brain-parent .brain-info{
    display: flex;
    align-items: center;
    gap: 60px;
}

.brain-info img{
    border-radius: 12px;

}

.brain-info .brain-text{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.brain-text p{
    font-size:16px;
    color: #627382;
    line-height: 24px;
}

.brain-text h2{
    font-size: 48px;
}

.brain-text .color-green{
    color: #30B868;
}

.brain-info ul{
    list-style: none;
    margin-top: 24px;
}

.brain-info ul li{
    display:flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 16px;
}

/* challenges section */
#ready-parent{
    text-align: center;
}

#ready-parent .ready-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 0 100px 100px;
    padding: 80px 0;
    background-color: #F7F6F2;
    border-radius: 12px;
}

.ready-info p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}

.ready-info h2{
    font-size: 40px;
    font-weight: 700;
}